img {
    border: black solid 5px;
    width: 500px
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: skyblue;
    }
header {
    font-family: 'Brush Script MT', cursive;
    font-size: xxx-large;
    color: gray;
}